$pageBarBackgroundColor: #eee;
$pageBarTextColor: #333;
$mainDividerColor: rgba(49, 177, 49);

$horizontalMargin: 1rem;

$majorButtonColor: rgb(255, 207, 117);
$minorButtonColor: #ddd;

$blueLinkColor: #0150e4;
